
.app-user-profile {
  color: var(--Text-color-300, #241442);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.5rem */
}

.logout {
  color: #DC3545;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.container-list-course {
  border: 1px solid;
  border-color: rgba(152, 139, 242, 1);

}
.background-color-violet {
  background: rgba(152, 139, 242, 0.5);
}

.text-header-list-course {
  color: var(--Text-color-300, #241442);
font-family: Outfit;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 1.75rem; /* 140% */
}

.tiny-title-violet {
  color: var(--Primary-300, #533EE8);
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 200% */
}

.container-app {
  max-width: 50rem;
  width: 100%;
}

.hero-app {
  margin-top: 4rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Primary-300, #533EE8);
  width: 100%;
  padding: 2rem 6.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-hero {
  color: var(--Primary-300, #533EE8);
  font-size: 3rem;
  font-style: normal;
  line-height: normal;
}

.hero-app > p {
  color: var(--Text-color-300, #241442);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 1.875rem */
}

.hero-app > button {
  display: flex;
  width: 11rem;
  height: 3rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;

  border-radius: 3.125rem;
  border: 1px solid var(--Primary-300, #533EE8);
  background: var(--Primary-300, #533EE8);
  /* Sombra 1 */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);

  color: #FFF;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.5rem */
}

.hero-app > button:hover {
  background: #FFF;
  color: #533EE8;
}